@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var i = 0;
}
@model CIProjectweb.Entities.AdminViewModel.ThemeView
<!-- /#sidebar-wrapper -->
<!-- Page Content -->


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<div class="container-fluid px-4">
    <div id="content">
         <section id="theme" class="row my-3 content-section active">
                        <div class="border-bottom">
                            <span class="text-muted fs-4" style="border-bottom: 3px solid black !important; padding-bottom:2px;">Themes</span>
                        </div>
                        <div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <form asp-area="Admin" asp-controller="Admin" asp-action="Theme" method="post">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="themeclose"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="MissionThemeId" asp-for="MissionThemeId" id="themeid" />
                                        <label for="title">ThemeTitle</label>
                                        <input type="text" class="form-control" placeholder="Enter theme title" name="Title" id="title" asp-for="Title"/>

                                        <label for="status">Status</label>
                                        <select class="form-control form-select" id="status" name="Status" id="status" asp-for="Status">
                                            <option value=""></option>
                                            <option value="Active">Active</option>
                                            <option value="In-Active">In-Active</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="col mt-4">
                            <table id="themerecord" class="table bg-white rounded shadow-sm  table-hover" width="100%">
                                <thead style="background-color: #F8F9FC;">
                                    <tr>
                                        <th scope="col" width="50">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.missionThemes)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.Title</td>
                                            @if (item.Status == 1)
                                            {
                                                <td style="color:#14C506;">Active</td>
                                            }
                                            else
                                            {
                                                <td style="color:red;">In-Active</td>
                                            }
                                            <td>
                                                <a type="button" class="border-0" onclick="themeEdit(@item.MissionThemeId)">
                                                    <i class="bi bi-pencil-square text-warning"></i>
                                                </a>
                                                <a type="button" class="border-0 ms-2" onclick="themeDelete(@item.MissionThemeId)">
                                                    <i class="bi bi-trash-fill text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
        <section id="cmspage" class="row my-5 content-section">
            <h3>CMS Page</h3>
        </section>
        <section id="mission" class="row my-5 content-section">
            <h3>Mission</h3>
        </section>
        <section id="theme" class="row my-5 content-section">
            <h3>Mission Theme</h3>
        </section>
        <section id="skill" class="row my-5 content-section">
            <h3>Mission Skill</h3>
        </section>
        <section id="application" class="row my-5 content-section">
            <h3>Mission Application</h3>
        </section>
        <section id="story" class="row my-5 content-section">
            <h3>Story</h3>
        </section>
        <section id="banner" class="row my-5 content-section">
            <h3>Banner Management</h3>
        </section>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");
        var dashboadtime = document.getElementById("dashboadtime");
        var modalclose = document.getElementById("themeclose");
        var myModal = document.getElementById("exampleModaladd");

    function currentTime() {
            var time = new Date();
            var dateString = time.toDateString();
            var timeString = time.toLocaleTimeString();
            dashboadtime.innerHTML = dateString + ' ' + timeString;
            let t = setTimeout(function () { currentTime() }, 1000);
        }
        currentTime();
       
    const menulink = document.querySelectorAll(".list-group-item");
    const contentSections = document.querySelectorAll('.content-section');




    $(document).ready(function() {
        $('#themerecord').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
    $('#themerecord').DataTable({
        "ordering": false,
        "lengthChange": false,
        "pagingType": "full_numbers",
        "oLanguage": {
            "sEmptyTable": " ",
            "oPaginate": {
                "sNext": '<i class="bi bi-chevron-right"></i>',
                "sPrevious": '<i class="bi bi-chevron-left"></i>',
                "sFirst": '<i class="bi bi-chevron-double-left"></i>',
                "sLast": '<i class="bi bi-chevron-double-right"></i>',
            }
        }
    });



    // themerecordbtn
        var themerecordFilter = document.getElementById("themerecord_filter");
        var button = document.createElement("button");
        button.innerHTML = `<i class="bi bi-plus">Add</i>`;
        button.classList.add("btn", "btn-outline-warning", "rounded-pill", "addbtn");
        button.setAttribute("data-bs-toggle", "modal");
        button.setAttribute("id","ExampleModalAdd");
        button.setAttribute("data-bs-target", "#exampleModaladd")
        themerecordFilter.appendChild(button);




    function themeEdit(themeId){
            $.ajax({
                url:'/Admin/Admin/ThemeEdit',
                type:'POST',
                data: { themeId: themeId },
                success:function(result){
                    myModal.classList.add("show");
                    myModal.style.display = "block";
                    document.getElementById("title").value=result.title;
                    document.getElementById("themeid").value = result.missionThemeId;
                    if(result.status==1){
                        document.getElementById("status").value="Active";
                    }
                    else{
                        document.getElementById("status").value="In-Active";
                    }
                }
            });
        }

        modalclose.onclick = function () {

            myModal.style.display = "none";

        };
        var exampleModaladd = document.getElementById("ExampleModalAdd");
        exampleModaladd.onclick = function () {
            document.getElementById("title").value = '';
            document.getElementById("status").value = '';
            document.getElementById("themeid").value='';
        }

        function themeDelete(themeId){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ms-2',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Admin/ThemeDelete',
                        type: 'POST',
                        data: { themeId: themeId },
                        success: function (result) {
                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your record has been deleted.',
                                'success'
                            ).then((res) => {
                                location.reload();
                            });
                        }
                    });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled'
                    )
                }
            })
        }
   
</script>